@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS 파일에 font-face 설정 */
@font-face {
  font-family: "Changwon";
  src: url("/public/fonts/ChangwonDangam.otf");
}
@font-face {
  font-family: "Hakyo";
  src: url("/public/fonts/Hakgyoansim.otf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
